<div class="entire">
  <div class="even-columns">
    <div class="col m-2">
      <div class="text-center">
        <h5 class="metric-header-text">Total</h5>
        <h3>276220</h3>
      </div>
    </div>
    <div class="col m-2">
      <div class="text-center">
        <h5 class="metric-header-text">Available</h5>
        <div class="d-flex flex-row justify-content-center align-items-center">
          <h3>152327</h3>
          <h4 class="ml-1">(55,15%)</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="even-columns">
    <div class="col item">
      <div class="card text-center">
        <h5 class="metric-header-text">UAH</h5>
        <div class="d-flex flex-row justify-content-center">
          <h5 class="green">184220</h5>
          <div class="ml-1">(66,75%)</div>
        </div>
      </div>
    </div>
    <div class="col item">
      <div class="card text-center">
        <h5 class="metric-header-text">USD</h5>
        <div class="d-flex flex-row justify-content-center">
          <h5>36650</h5>
          <div class="ml-1">(13,27%)</div>
        </div>
      </div>
    </div>
    <div class="col item">
      <div class="card text-center">
        <h5 class="metric-header-text">EUR</h5>
        <div class="d-flex flex-row justify-content-center">
          <h5>7400</h5>
          <div class="ml-1">(2,68%)</div>
        </div>
      </div>
    </div>
    <div class="col item">
      <div class="card text-center">
        <h5 class="metric-header-text">PLN</h5>
        <div class="d-flex flex-row justify-content-center">
          <h5>11200</h5>
          <div class="ml-1">(4,05%)</div>
        </div>
      </div>
    </div>
    <div class="col item">
      <div class="card text-center">
        <h5 class="metric-header-text">FOP</h5>
        <div class="d-flex flex-row justify-content-center">
          <h5>36650</h5>
          <div class="ml-1">(13,27%)</div>
        </div>
      </div>
    </div>
  </div>
</div>
