.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
}

.category {
  font-weight: bold;
}

.header {
  font-weight: bold;
}

.label {
  margin-top: 5px;
}

.icon {
  font-size: 25px;
}

.icon.ok {
  color: green;
}

.icon.not-ok {
  color: red;
}
