<div class="container current-cash-container">
  <div class="header">
    <div class="d-flex flex-row">
      <h2>Current cash:</h2>
      <h2 class="ml-3">{{currentCash}}</h2>
    </div>
    <div class="d-flex flex-row">
      <h2>Real cash:</h2>
      <h2 class="ml-3">{{realCash}}</h2>
    </div>
    <div class="d-flex flex-row">
      <h2>Difference:</h2>
      <h2 class="ml-3">{{difference}}</h2>
    </div>
  </div>
  <form [formGroup]="cashLocationsForm" (ngSubmit)="onSubmit()">
    <div class="form-group current-cash-form">
      <div class="privat">
        <label>Privatbank universal: </label>
        <input type=number class="form-control" formControlName="privatUniversal" />
        <label>Privatbank payout: </label>
        <input type=number class="form-control" formControlName="privatPayout" />
        <label class="m"></label>
      </div>
      <div class="cash">
        <label>Cash: </label>
        <input type=number class="form-control" formControlName="cash" />
      </div>
      <div class="mono">
        <label>Monobank black: </label>
        <input type=number class="form-control" formControlName="monoBlack" />
        <label>Monobank white: </label>
        <input type=number class="form-control" formControlName="monoWhite" />
        <label>Monobank dollars: </label>
        <input type=number class="form-control" formControlName="monoUsd" />
        <label>Monobank eSupport: </label>
        <input type=number class="form-control" formControlName="monoSupport" />
      </div>
      <div class="other">
        <label>Additional: </label>
        <input type=number class="form-control" formControlName="additional" />
        <div class="d-flex flex-row align-items-baseline pt-2 pb-2">
          <input type=number class="form-control w-50" formControlName="addAdditional" />
          <button class="ml-1 btn btn-primary" (click)="updateAdditional()">
            <i class="fa fa-solid fa-plus"></i>
          </button>
        </div>
        <div class="mt-5">
          <label>Outside: </label>
          <input type=number class="form-control" formControlName="outside" />
          <div class="d-flex flex-row align-items-baseline pt-2 pb-2">
            <input type=number class="form-control w-50" formControlName="addOutside" />
            <button class="ml-1 btn btn-secondary" (click)="updateOutside()">
              <i class="fa fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn" [ngClass]="(dataStatus==='ACTIVE')? 'btn-success' :(dataStatus==='PENDING' ? 'btn-warning' : 'btn-danger') " [disabled]="cashLocationsForm.status !== 'VALID'">
      <i class="fas fa-pen mr-1"></i>
      <span>Update</span>
    </button>
  </form>
</div>
