<!--<h1>Budget frontend</h1>-->
<!--&lt;!&ndash;<app-chart></app-chart>&ndash;&gt;-->
<!--<app-column-chart></app-column-chart>-->

<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="isLoggedIn">
        <app-dropdown [name]="'Flux'" [icon]="'fa-arrow-up'" [items]="fluxItems"></app-dropdown>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <app-dropdown [name]="'Reflux'" [icon]="'fa-arrow-down'" [items]="refluxItems"></app-dropdown>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <app-dropdown [name]="'Salary'" [icon]="'fa-dollar-sign'" [items]="salaryItems"></app-dropdown>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <app-dropdown [name]="'Required bills'" [icon]="'fa-money-bills'" [items]="requiredBills"></app-dropdown>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <!--<app-dropdown [name]="'Current cash'" [items]="currentCashItems"></app-dropdown>-->
        <a href="/currentCash" class="nav-link" routerLink="/currentCash">
          <i class="fa-solid fa-coins"></i>
          Current cash
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <!--<app-dropdown [name]="'Total values'" [items]="totalValuesItems"></app-dropdown>-->
        <a href="/total/values" class="nav-link" routerLink="/total/values">
          <i class="fa-solid fa-sack-dollar"></i>
          Total values
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/rate" class="nav-link" routerLink="/rate">
          <i class="fa-solid fa-arrows-rotate"></i>
          Rate
        </a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="!isLoggedIn">
<!--      <li class="nav-item">-->
<!--        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>-->
<!--      </li>-->
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">
          <i class="fa-solid fa-right-to-bracket"></i>
          Login
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <div class="nav-item circle">
        <a class="circle-a nav-link">{{currentCashDisplayValue}}</a>
      </div>
      <div class="nav-item circle ">
        <a class="circle-a nav-link">{{totalValuesDisplayValue}}</a>
      </div>
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">
          <i class="fa-solid fa-user"></i>
          {{ username }}
        </a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i>
          LogOut
        </a>
      </li>
    </ul>
  </nav>

<!--  <div class="container">-->
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
