<div class="container flux-container">
  <form [formGroup]="fluxForm" (ngSubmit)="onSubmit()">
    <div class="form-group flux-form">
      <label>Flux type: </label>
      <input type=text class="form-control" formControlName="type" />
      <label>Value: </label>
      <input type=number class="form-control" formControlName="value" />
      <label>Date: </label>
      <input type=date class="form-control" formControlName="date" />
      <label>Comment: </label>
      <input type=text class="form-control" formControlName="comment" />
      <button type="submit" class="btn btn-success submit">
        <i class="fas fa-pen mr-1"></i>
        <span>Update</span>
      </button>
    </div>
  </form>
</div>
