<div class="container mb-4">
  <span class="category header">Category</span>
  <span class="header">Required Bill</span>
  <span class="header">Actual Bill</span>
  <span class="header">Status</span>
  <ngx-spinner
    bdColor="#fff"
    size="medium"
    color="yellow"
    type="ball-scale-multiple"
    [fullScreen] = "false">
    <p style="font-size: 14px; color: red; margin: 10px 0 0 5px;">Loading...</p>
  </ngx-spinner>
</div>

<app-bill-current [typeName]="'External'" [currentBills]="currentBillsExternal" [totalBill]="totalBillExternal"> </app-bill-current>
<app-bill-current [typeName]="'Internal'" [currentBills]="currentBillsInternal" [totalBill]="totalBillInternal"> </app-bill-current>

