<div class="container mb-4">
  <span class="category header">Category</span>
  <span class="header">Required Bill</span>
  <span class="header">Actual Bill</span>
  <span class="header">Status</span>
</div>

<div class="container" *ngFor="let item of items">
  <span class="category">{{ item.category }}</span>
  <span class="value">{{ item.requiredBill }}</span>
  <span class="value">{{ item.actualBill }}</span>
  <span class="icon" [ngClass]="{ 'ok': item.isCompleted, 'not-ok': !item.isCompleted }">
      <!-- You can put your OK and Not OK icons here instead of text -->
      {{ item.isCompleted ? '&#10003;' : '&#10007;' }}
  </span>
</div>


